# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl

# Terraform state
terraform/*.tfstate
terraform/*.tfstate.backup

# Python
__pycache__/
*.pyc

# Environment
.env

# VS Code
.vscode/